html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font: 95% "Roboto", sans-serif;*/
    overflow: hidden;
}

#header {
    background-color: #34394C;
    color: #FFFFFF;
    height: 7.5%;
    position: relative;
    width: 350px;
    float: left;
    padding: 10px;
}

h2{
    margin: 5px 0px;
    font-size: 24px;
    font-weight: 300;
    padding-bottom: 5px;
}

h3{
    left: 10px;
    margin-top:0px !important;
}

.gm-style-iw h3{
    left: 10px;
    margin:0px !important;
}

#header p{
  font-size: 13px;
  font-style: italic;
  margin: 0px;
}

#accordian {
   height: 100%;
   left: 10px;
   width: 370px;
   z-index: 2;
   border-right: 1px solid #000;
   font-size: 13px;
   background-color: #FFF6CF;
}

#infos #buttons {
  top:75px;
  width: 360px;
  height: 30px;
  margin-left: 10px;
  font-size: 12px;
}

#infos {
  position: absolute;
  top: 12%;
  left: 10px;
  width: 350px;
  height: 55%;
  font-size: 17px;
}

#infos .info a:hover, a:link, a:visited, a:active {
  text-decoration: none !important;
}

#infos .info {
  padding: 10px 15px;
  margin: 10px 0;
  background-color: #FFFFFF;
  height: 18.5px;
}

#infos .info a:hover{
  background-color: red;
}

#infos .infoBlue {
  color: #4B6FC1;
  font-weight: 700;
}

#infos .infoOrange {
  color: #EF7C5E;
  font-weight: 700;
}

#infos .infoRed {
  color: #D83343;
  font-weight: 700;
}

#infos .infoGreen {
  color: #4B9F7E;
  font-weight: 700;
}

#infos #results-count{
  color: gray;
  margin-top:10px;
}

#infos #results-list{
  overflow-x: auto;
  overflow-y: none !important;
  height: 125%;
}

p {
  width: 450px;
}

#map {
    left: 370px;
    top: 0;
    width: calc(100% - 370px);
    height: 100%;
    position: absolute;
    z-index: 1;
}

.map-search {
    background-color: rgba(255, 255, 255, .9);
    z-index: 2;
    padding: 0px;
    border-radius: 5px;
    line-height: 140%;
    color: #333;
    z-index: 2;
}

.map-search .title {
    margin-top: 0;
}

.map-search-autocomplete {
    padding: 5px 0px;
    font: inherit;
    width: 350px;
}

.map-marker-info {
    font: 10 "Helvetica", sans-serif;
    padding: 20px 20px 10px 20px;
}

input.chk-btn {
  display: none;
}
input.chk-btn + label {
  background-color: gray;
  color: white;
  padding: 10px 20px;
  margin: 0;
  cursor: pointer;
  border-radius: 0px;
}
input.chk-btn:not(:checked) + label:hover {
  box-shadow: 0px 1px 3px;

}
input.chk-btn + label:active,
input.chk-btn:checked + label {
  box-shadow: 0px 0px 3px inset;
  background: #8cc472;

}
